<h1>Users:</h1>

<table class="table table-striped">
<% @users.each do |user| %>
  <% count = user.microposts.count %>
  <tr <%= count >= 3 ? 'class='"success" : '' %>>
    <td> <%= user.id %> </td>
    <td> <%= user.login %></td>
    <td> <%= user.email %> </td>
    <td> <%= count %> </td>
  </tr>
<% end %>
</table>
